* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #fff257;
}

header {
   height: 60px;
 position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: #fff257;
  padding: 0px 10px;
}

header nav span {
    font-size: 36px;
}

header button {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    background-color: #33793f;
}
header button:hover {
    background-color: #fff257;
    color: #33793f;
}
header button span {
    font-size: 24px;
    color: #fff257;
}

   

nav {
    display: flex;
justify-content: space-between;
align-items: center;
}


#root {
    padding: 60px 30px;
    display: flex;
    max-width: 1280px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px 20px;
}


#root .card {
    font-family: 'Montserrat', sans-serif;
    position: relative;
padding: 20px 20px 60px;
border: #33793f 1px solid;
width: 360px;;

}

.card .title {
    font-size: 36px;
    font-weight: bold;
    color: #33793f;
}

.card .sub {
    position: absolute;
    top: 0px;
    right: -6px;
    font-size: 12px;
    letter-spacing: 0.2em;
    background-color: #33793f;
    color: #fff257;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card .text {
    font-family: 'Roboto', sans-serif;
color: #33793f;
    font-size: 16px;
    line-height: 24px;
    
}

.card button {
    width: 100%;
    height: 30px;
    font-size: 14px;
   background-color:#33793f;
    color: #fff257;
    position: absolute;
  left: 0;
  bottom: -20px;
  border: #33793f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

}

.card .button span {
    font-size: 18px;
}

.card button:hover {
    color: #33793f;
    background-color: #fff257;
    border: #33793f 1px solid;
}




